In [2]:
## Creating lists for Sheet Number and KPIs in the excel sheet
Sheet_List = [1,2,3,4,5,6]
Value_List = ['International_Migrant_Stock_Value',
             'Total_Population_Value',
             'International_Migrant_Stock_Pcnt_Value',
             'Female_Migrant_Pnct_Value', 
             'Annual_Rate_Change_Migrant_Value']

In [3]:
## Importing libraries
import pandas as pd
import numpy as np
import os

In [4]:
## Creating for loop
i = 1
DF_List = []
for i in Sheet_List:
    UN_Data = pd.read_excel("UN_MigrantStockTotal_2015.xlsx", sheet_name = i)
    # Subsetting for valid rows - removing first 12 rows 
    UN_Data_Temp = UN_Data.iloc[13:,].reset_index()
    # Replacing NaN values in the first row from the second row year value
    nan_index = UN_Data_Temp.loc[0,:].isnull()
    UN_Data_Temp.loc[0, nan_index] = UN_Data_Temp.loc[1, nan_index]
    # Creating list for columns in dataframe
    List_Columns = UN_Data_Temp.iloc[0,:].tolist()
    # Converting all list elements to string
    List_Columns = [str(i) for i in List_Columns]
    # Replacing '.0' with empty '' for data structuring 
    List_Columns= list(map(lambda x: x.replace('.0', ''), List_Columns))
    if (i <= 5):
        if((i==1)):
            # Adding suffix to each section of international migrant stock information based on the sex information in the first
            # heading columns
            # For both sexes
            List_Columns[6] = '1990_BS'
            List_Columns[7:12] = [i + '_BS' for i in List_Columns[7:12]]
            # For male
            List_Columns[12] = '1990_M'
            List_Columns[13:18] = [i + '_M' for i in List_Columns[13:18]]
            # For female
            List_Columns[18] = '1990_F'
            List_Columns[19:24] = [i + '_F' for i in List_Columns[19:24]]

            # Renaming the columns with the new column list 
            UN_Data_Temp.columns = List_Columns
            # Dropping first column and first and second row
            UN_Data_Temp = UN_Data_Temp.drop(columns = ['13'])
            UN_Data_Temp = UN_Data_Temp.drop([0,1])

            UN_Data_Temp = UN_Data_Temp.melt(id_vars = ['Sort\norder',
                                         'Major area, region, country or area of destination',
                                         'Notes',
                                         'Country code',
                                         'Type of data (a)'], 
                             var_name = "Year_Sex_Var", value_name = Value_List[i-1])
        elif(i==2):
            # Adding suffix to each section of international migrant stock information based on the sex information in the first
            # heading columns
            # For both sexes
            List_Columns[5] = '1990_BS'
            List_Columns[6:11] = [i + '_BS' for i in List_Columns[6:11]]
            # For male
            List_Columns[11] = '1990_M'
            List_Columns[12:17] = [i + '_M' for i in List_Columns[12:17]]
            # For female
            List_Columns[17] = '1990_F'
            List_Columns[18:23] = [i + '_F' for i in List_Columns[18:23]]

            # Renaming the columns with the new column list 
            UN_Data_Temp.columns = List_Columns
            # Dropping first column and first and second row
            UN_Data_Temp = UN_Data_Temp.drop(columns = ['13'])
            UN_Data_Temp = UN_Data_Temp.drop([0,1])

            UN_Data_Temp = UN_Data_Temp.melt(id_vars = ['Sort\norder',
                                         'Major area, region, country or area of destination',
                                         'Notes',
                                         'Country code'], 
                             var_name = "Year_Sex_Var", value_name = Value_List[i-1])
        elif((i==3)):
            # Adding suffix to each section of international migrant stock information based on the sex information in the first
            # heading columns
            # For both sexes
            List_Columns[6] = '1990_BS'
            List_Columns[7:12] = [i + '_BS' for i in List_Columns[7:12]]
            # For male
            List_Columns[12] = '1990_M'
            List_Columns[13:18] = [i + '_M' for i in List_Columns[13:18]]
            # For female
            List_Columns[18] = '1990_F'
            List_Columns[19:24] = [i + '_F' for i in List_Columns[19:24]]

            # Renaming the columns with the new column list 
            UN_Data_Temp.columns = List_Columns
            # Dropping first column and first and second row
            UN_Data_Temp = UN_Data_Temp.drop(columns = ['13'])
            UN_Data_Temp = UN_Data_Temp.drop([0,1])

            UN_Data_Temp = UN_Data_Temp.melt(id_vars = ['Sort\norder',
                                         'Major area, region, country or area of destination',
                                         'Notes',
                                         'Country code',
                                         'Type of data (a)'], 
                             var_name = "Year_Sex_Var", value_name = Value_List[i-1])
        elif(i==4):
            # Adding suffix to each section of international migrant stock information based on the sex information in the first
            # heading columns
            # For female
            List_Columns[6] = '1990_F'
            List_Columns[7:12] = [i + '_F' for i in List_Columns[7:12]]

            # Renaming the columns with the new column list 
            UN_Data_Temp.columns = List_Columns
            # Dropping first column and first and second row
            UN_Data_Temp = UN_Data_Temp.drop(columns = ['13'])
            UN_Data_Temp = UN_Data_Temp.drop([0,1])

            UN_Data_Temp = UN_Data_Temp.melt(id_vars = ['Sort\norder',
                                                         'Major area, region, country or area of destination',
                                                         'Notes',
                                                         'Country code',
                                                         'Type of data (a)'], 
                             var_name = "Year_Sex_Var", value_name = Value_List[i-1])

        elif(i==5):
            # Adding suffix to each section of international migrant stock information based on the sex information in the first
            # heading columns
            # For both sexes
            List_Columns[6] = '1990-2000_BS'
            List_Columns[7:11] = [i + '_BS' for i in List_Columns[7:11]]
            # For male
            List_Columns[11] = '1990-2000_M'
            List_Columns[12:17] = [i + '_M' for i in List_Columns[12:17]]
            # For female
            List_Columns[16] = '1990-2000_F'
            List_Columns[17:23] = [i + '_F' for i in List_Columns[17:23]]

            # Renaming the columns with the new column list 
            UN_Data_Temp.columns = List_Columns
            # Dropping first column and first and second row
            UN_Data_Temp = UN_Data_Temp.drop(columns = ['13'])
            UN_Data_Temp = UN_Data_Temp.drop([0,1])

            UN_Data_Temp = UN_Data_Temp.melt(id_vars = ['Sort\norder',
                                                         'Major area, region, country or area of destination',
                                                         'Notes',
                                                         'Country code',
                                                         'Type of data (a)'], 
                             var_name = "Year_Sex_Var", value_name = Value_List[i-1])



        UN_Data_Temp = UN_Data_Temp.replace('..' , 'NaN')
    #     UN_Data_Temp.Value_List[i] = UN_Data_Temp.Value_List[i]].astype(float)
    #     Adding two new columns 'Year' and 'Sex' for the combined variable Year_Sex_Var
        UN_Data_Temp[['Year','Sex']] = UN_Data_Temp.Year_Sex_Var.str.split('_', expand = True)
        # Dropping the combined variable
        UN_Data_Temp = UN_Data_Temp.drop(columns = ['Year_Sex_Var'])
        # Recoding the values of sexes
        UN_Data_Temp['Sex'] = UN_Data_Temp['Sex'].map({'BS': 'Both_Sexes', 'F': 'Female', 'M': 'Male'})
    #     UN_Data_Temp.to_csv(Value_List[i-1]+'.csv')

        DF_List.append(UN_Data_Temp)
    elif(i == 6):
        # Adding suffix to each section of international migrant stock information based on the sex information in the first
        # heading columns
        # For both sexes
        List_Columns[6] = '1990_BS'
        List_Columns[7:12] = [i + '_BS' for i in List_Columns[7:12]]
        # For male
        List_Columns[12] = '1990_R'
        List_Columns[13:18] = [i + '_R' for i in List_Columns[13:18]]
        # For female
        List_Columns[18] = '1990-1995_A'
        List_Columns[19:24] = [i + '_A' for i in List_Columns[19:24]]

         # Renaming the columns with the new column list 
        UN_Data_Temp.columns = List_Columns
                # Dropping first column and first and second row
        UN_Data_Temp = UN_Data_Temp.drop(columns = ['13'])
        UN_Data_Temp = UN_Data_Temp.drop([0,1])
        
        UN_Data_Temp = UN_Data_Temp.replace('..' , 'NaN')

        ## Splitting the DF into three DFs
        Data_6_1 = UN_Data_Temp.iloc[:,0:11]


        ## Melt Data
        Data_6_1 = Data_6_1.melt(id_vars = ['Sort\norder',
                                                     'Major area, region, country or area of destination',
                                                     'Notes',
                                                     'Country code',
                                                     'Type of data (a)'], 
                                       var_name = "Year_Sex_Var", value_name = "Estimated_Refugee_Stock_Value_Both_Sexes")

        # Adding two new columns 'Year' and 'Sex' for the combined variable Year_Sex_Var
        Data_6_1[['Year','Sex']] = Data_6_1.Year_Sex_Var.str.split('_', expand = True)
        # Dropping the combined variable
        Data_6_1 = Data_6_1.drop(columns = ['Year_Sex_Var'])
        Data_6_1['Sex'] = Data_6_1['Sex'].map({'BS': 'Both_Sexes'})


        ### 2 
        Data_6_2 = UN_Data_Temp.iloc[:,np.r_[0:5,11:17]]

        ## Melt Data
        Data_6_2 = Data_6_2.melt(id_vars = ['Sort\norder',
                                                     'Major area, region, country or area of destination',
                                                     'Notes',
                                                     'Country code',
                                                     'Type of data (a)'], 
                                       var_name = "Year_Sex_Var", value_name = "Refugee_Pnct_InternationalStock_Value_General")

        # Adding two new columns 'Year' and 'Sex' for the combined variable Year_Sex_Var
        Data_6_2[['Year','Sex']] = Data_6_2.Year_Sex_Var.str.split('_', expand = True)
        # Dropping the combined variable
        Data_6_2 = Data_6_2.drop(columns = ['Year_Sex_Var', 'Sex'])

        #### 3
        Data_6_3 = UN_Data_Temp.iloc[:,np.r_[0:5,17:22]]
        Data_6_3

        ## Melt Data
        Data_6_3 = Data_6_3.melt(id_vars = ['Sort\norder',
                                                     'Major area, region, country or area of destination',
                                                     'Notes',
                                                     'Country code',
                                                     'Type of data (a)'], 
                                       var_name = "Year_Sex_Var", value_name = "Annual_RateChange_Refugee_Value_General")

        # Adding two new columns 'Year' and 'Sex' for the combined variable Year_Sex_Var
        Data_6_3[['Year','Sex']] = Data_6_3.Year_Sex_Var.str.split('_', expand = True)
        # Dropping the combined variable
        Data_6_3 = Data_6_3.drop(columns = ['Year_Sex_Var', 'Sex'])

        DF_Table_6 = [Data_6_1, Data_6_2, Data_6_3]

In [6]:
## Reading the dfs for the first four dataframes

DF_List_1_4 = DF_List[0:4]

import functools as ft
DF_Final = ft.reduce(lambda left, right: pd.merge(left, right, on=['Sort\norder',
       'Major area, region, country or area of destination', 'Notes',
       'Country code', 'Year', 'Sex'], how = "outer"), DF_List_1_4)

In [8]:
## Checking if columns are same
DF_Final['Type of data (a)_x'].equals(DF_Final['Type of data (a)_y'])

True

In [9]:
## Dropping column
DF_Final = DF_Final.drop(columns = ['Type of data (a)_x'])
# Renaming 
DF_Final = DF_Final.rename(columns = {'Type of data (a)_y' : 'Type of data (a)_G',
                                        'Type of data (a)' : 'Type of data (a)_FM'})
DF_Final = DF_Final.rename(columns = {'Type of data (a)_G' : 'Type of data (a)'})

cols = DF_Final.columns.tolist()

In [10]:
cols

['Sort\norder',
 'Major area, region, country or area of destination',
 'Notes',
 'Country code',
 'International_Migrant_Stock_Value',
 'Year',
 'Sex',
 'Total_Population_Value',
 'Type of data (a)',
 'International_Migrant_Stock_Pcnt_Value',
 'Type of data (a)_FM',
 'Female_Migrant_Pnct_Value']

In [11]:
cols = ['Sort\norder',
 'Major area, region, country or area of destination',
 'Notes',
 'Country code',
 'Year',
 'Sex',
 'Type of data (a)',
 'International_Migrant_Stock_Value',
 'Total_Population_Value',
 'International_Migrant_Stock_Pcnt_Value',
 'Type of data (a)_FM',
 'Female_Migrant_Pnct_Value']

In [12]:
# Renaming columns
DF_Final = DF_Final[cols]

In [14]:
## Merging DF with the table 6 data that matches the year headings
Data_Temp_1 = pd.merge(DF_Final, DF_Table_6[0], on = ['Sort\norder',
 'Major area, region, country or area of destination',
 'Notes',
 'Country code',
 'Year',
 'Sex', 'Type of data (a)'], how = "outer")

In [15]:
## Merging DF with the table 6 data that matches the year headings
Data_Temp_New = pd.merge(Data_Temp, DF_Table_6[1], on = ['Sort\norder',
 'Major area, region, country or area of destination',
 'Notes',
 'Country code',
 'Year', 'Type of data (a)'], how = "outer")

In [16]:
Data_Temp_New

,Sort\norder,"Major area, region, country or area of destination",Notes,Country code,Year,Sex,Type of data (a),International_Migrant_Stock_Value,Total_Population_Value,International_Migrant_Stock_Pcnt_Value,Type of data (a)_FM,Female_Migrant_Pnct_Value,Estimated_Refugee_Stock_Value_Both_Sexes,Refugee_Pnct_InternationalStock_Value_General
0,1,WORLD,NaN,900,1990,Both_Sexes,NaN,152563212,5309667.699,2.87331,NaN,NaN,18836571,12.346732
1,1,WORLD,NaN,900,1990,Male,NaN,77747510,2670423.701,2.91143,NaN,NaN,NaN,12.346732
2,1,WORLD,NaN,900,1990,Female,NaN,74815702,2639243.998,2.83474,NaN,49.03915,NaN,12.346732
3,2,Developed regions,(b),901,1990,Both_Sexes,NaN,82378628,1144463.062,7.198015,NaN,NaN,2014564,2.445494
4,2,Developed regions,(b),901,1990,Male,NaN,40263397,555255.626,7.251326,NaN,NaN,NaN,2.445494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4765,264,Tuvalu,NaN,798,2015,Male,C,78.0,NaN,NaN,NaN,NaN,NaN,0.0
4766,264,Tuvalu,NaN,798,2015,Female,C,63.0,NaN,NaN,C,44.680851,NaN,0.0
4767,265,Wallis and Futuna Islands,NaN,876,2015,Both_Sexes,B,2849.0,13.151,21.663752,NaN,NaN,0.0,0.0
4768,265,Wallis and Futuna Islands,NaN,876,2015,Male,B,1438.0,NaN,NaN,NaN,NaN,NaN,0.0
4769,265,Wallis and Futuna Islands,NaN,876,2015,Female,B,1411.0,NaN,NaN,B,49.52615,NaN,0.0

In [17]:
## Merging DF with the table 6 data that matches the year headings based on year bins
Data_Temp_2 = pd.merge(DF_List[4], DF_Table_6[2], on = ['Sort\norder',
 'Major area, region, country or area of destination',
 'Notes',
 'Country code',
 'Year', 'Type of data (a)'])

In [18]:
## Adding Annex info 
Annex_Data = pd.read_excel("UN_MigrantStockTotal_2015.xlsx", sheet_name = 'ANNEX')
Annex_Data.head(15)

## Subsetting the data 
Annex_Data = Annex_Data.iloc[13:,].reset_index()
Annex_Data.head(15)

# Pushing first row as column headers
Annex_Data.columns = Annex_Data.iloc[0]
Annex_Data = Annex_Data.drop([0])
Annex_Data = Annex_Data.drop(columns = [13])
# mapping = {Annex_Data.columns[2]: 'Sort_Order_Country'}
Annex_Data = Annex_Data.rename(columns = {Annex_Data.columns[2]: 'Sort_Order_Country'})

In [19]:
## First frame
# Merging with annex
Data_Final_1 = pd.merge(Annex_Data, Data_Temp_New, 
                     on = ['Country code'])

In [20]:
## Second frame
# Merging with annex
Data_Final_2 = pd.merge(Annex_Data, Data_Temp_2, 
                     on = ['Country code'])

,Country code,Country or area,Sort_Order_Country,Major area,Code,Sort_Order_Country,Region,Code,Sort_Order_Country,Developed region,Least developed country,Sub-Saharan Africa,Sort\norder,"Major area, region, country or area of destination",Notes,Type of data (a),Annual_Rate_Change_Migrant_Value,Year,Sex,Annual_RateChange_Refugee_Value_General
0,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,Yes,No,99,Afghanistan,NaN,B,1.192711,1995-2000,Both_Sexes,NaN
1,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,Yes,No,99,Afghanistan,NaN,B,1.828173,1995-2000,Male,NaN
2,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,Yes,No,99,Afghanistan,NaN,B,0.398266,1995-2000,Female,NaN
3,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,Yes,No,99,Afghanistan,NaN,B,2.794196,2000-2005,Both_Sexes,NaN
4,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,Yes,No,99,Afghanistan,NaN,B,2.794752,2000-2005,Male,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2779,716,Zimbabwe,28,Africa,903,7,Eastern Africa,910,8,No,No,Yes,28,Zimbabwe,NaN,B R,0.26585,2005-2010,Male,-0.262999
2780,716,Zimbabwe,28,Africa,903,7,Eastern Africa,910,8,No,No,Yes,28,Zimbabwe,NaN,B R,0.259214,2005-2010,Female,-0.262999
2781,716,Zimbabwe,28,Africa,903,7,Eastern Africa,910,8,No,No,Yes,28,Zimbabwe,NaN,B R,0.048948,2010-2015,Both_Sexes,3.877364
2782,716,Zimbabwe,28,Africa,903,7,Eastern Africa,910,8,No,No,Yes,28,Zimbabwe,NaN,B R,0.036272,2010-2015,Male,3.877364
2783,716,Zimbabwe,28,Africa,903,7,Eastern Africa,910,8,No,No,Yes,28,Zimbabwe,NaN,B R,0.065769,2010-2015,Female,3.877364